@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');


#telegram {
    font-family: "icomoon";
    color: #9a8e8e;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

/*HEADER-TOP*/

#header {
    height: 800px;
    /*14%;*/
    /*background-image: url('../img/slider-img.jpg');*/
    margin-bottom: 112px;
    position: relative;
    overflow: hidden;
}

/*SSSLLLLIIIIIDDDDEEEEERRRRRRRRR*********************/

.slider {
    position: relative;
    text-align: center;
    background-color: lightyellow;
    height: 800px;
}

.slider > input {
    display: none;
    /*прячем радиобаттоны*/
}

.slider > input + label {
    display: block;
    position: relative;
    z-index: 99;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(33, 33, 33, 0.2);
    float: left;
    left: 45%;
    margin-right: 10px;
    bottom: -700px;
}

.slider > input + label:hover {
    background-color: #212121;
}

.slider > input:checked + label {
    background-color: #212121;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slider > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.2s ease-out 1s;

}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
}

/***************************************end SLIDER****/

/*SLIDER TWO*/

.slider1 {
    position: relative;
    text-align: center;
    background-color: lightyellow;
    height: 800px;
}

.slider1 > input {
    display: none;
    /*прячем радиобаттоны*/
}

.slider1 > input + label {
    display: block;
    position: relative;
    z-index: 99;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(90, 90, 90, 0.8);
    float: left;
    left: 50%;
    margin-right: 10px;
    bottom: -700px;
}

.slider1 > input + label:hover {
    background-color: #212121;
}

.slider1 > input:checked + label {
    background-color: #212121;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slider1 > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider1 > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slider1 img {
    position: absolute;
    top: 0;
    left: 0;
}


/*END SLIDER TWO*/

.header-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.header-top .logo {
    margin-left: 98px;
    /* 7.2%;*/
    margin-top: 63px;
    /*7.9%;*/
    border: 0;
    position: absolute;
    top: 0;
    z-index: 99;
}

.menu {
    float: right;
    margin-right: 211px;
    margin-top: 54px;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 3;
    text-align: right;
    display: block;
    padding: 0 20px;
    text-decoration: none;
}

.menu li a:hover {
    color: #212121;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 2.8125;
    text-align: right;
    border-bottom: 3px solid black;

}

/*.search a{
    display: block;
    width:23px;
    height:23px;
}*/

.search {
    background-image: url(../img/search.png);
    width: 23px;
    height: 23px;
    margin-top: 11px;
}

/*HEADER_PAGE*/

#header-page {
    height: 360px;
    background-color: #f5f5f5;
    margin-bottom: 98px;
}

/*HEADER_PAGE_DETAILS*/

#header-prs-details {
    margin-bottom: 29px;
   /* border: 1px solid black;*/
    height: 100px;
    position: relative;
}

/*PROMO*/

.promo {
    position: absolute;
    top: 20%;
}

.promo-title {
    color: #212121;
    font-size: 57px;
    font-weight: 100;
    line-height: 49px;
    text-align: left;
    margin-left: 97px;
    /*51%*/
    margin-bottom: 25px;
    text-transform: uppercase;
}

.promo-smtitle {
    color: #43a047;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.667;
    text-align: left;
    margin-left: 98px;
    /*7.2%*/
    margin-top: 260px;
    letter-spacing: 1px;
}

.promo-text {
    color: #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.714;
    text-align: left;
    margin-left: 98px;
    /*7.2%*/
    width: 458px;
    /*33.5%*/
}

/*.promo a{
    background-color:#ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    display: block;
    line-height: 45px;
    border-radius: 45px;
    text-decoration: none;
    color:#212121;
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
    margin-left: 98px;
}*/

.btn {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    display: block;
    line-height: 45px;
    border-radius: 45px;
    text-decoration: none;
    color: #212121;
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
    margin-left: 98px;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.btn:hover {
    background: #ffffff url(../img/arrow.png) no-repeat 180px 16px;
}

/*CONTENT*/

.features {
    margin-left: 100px;
}

.features li {
    list-style-type: none;
    float: left;
    padding-bottom: 6px;
    border-bottom: 1px solid #6c6c6c;
}

.features li a {
    color: #6c6c6c;
    font-size: 2.25em;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    padding: 10px 15px 5px 5px;
}

.features li a:hover {
    border-bottom: 3px solid #212121;
    color: #212121;
    font-size: 2.25em;
    font-weight: 700;
    text-align: left;
}

.explore {
    float: right;
    margin-right: 106px;
}

.explore a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.75;
    text-align: center;
}

.explore a:hover {
    background: url(../img/arrow.png) no-repeat 150px 17px;
}

.clearfix {
    clear: both;
}

/*CATALOG*/

.catalog-item {
    margin-top: 55px;
    margin-left: 98px;
    margin-bottom: 90px;
}

.list-item {
    display: inline-block;
    margin-right: 26px;
    margin-bottom: 25px;
}

.list-item:last-child {
    margin-right: 0;
}

/*EXCLUSIVE*/

/*.exclusive {
    margin-bottom: 111px;
}*/

.exclusive-one {
    display: inline-block;
    width: 683px;
    height: 683px;
    background-image: url(../img/item/promo-img1.jpg);
}

.exclusive-two {
    display: inline-block;
    width: 683px;
    height: 683px;
    background-image: url(../img/item/promo-img.jpg);
}

h6:not(.ma) {
    color: #1e88e5;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.667;
    text-align: left;
    margin-top: 230px;
    margin-left: 50px;
    text-transform: uppercase;
}

.exclusive-title {
    margin-left: 50px;
    color: #212121;
    font-size: 2.25em;
    font-weight: 700;
    text-align: left;
}

.exclusive-text {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 0.874em;
    font-weight: 300;
    line-height: 1.716;
    text-align: left;
    -webkit-transform: scaleY(1.0022);
    transform: scaleY(1.0022);
    margin-left: 50px;
    width: 374px;
}

/*TRENDING*/

.trend-title {
    margin-left: 98px;
    color: #212121;
    font-size: 2.25em;
    font-weight: 700;
    text-align: left;
    display: inline-block;
}

.trend-top {
    margin-bottom: 62px;

    margin-top: 111px;
}

.trend-item {
    margin-left: 98px;
    margin-bottom: 90px;
}

.trend {}

/*HOT_DEAL*/

.hot-deal {
    /* background-image: url(../img/slider.jpg);*/
    height: 800px;
    margin-bottom: 120px;
    position: relative;
}

.deal-content {
    position: absolute;
    top: 0;
}

.deal-smtitle {
    margin-left: 98px;
    padding-top: 287px;
    color: #e53935;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.667;
    text-align: left;
    text-transform: uppercase;
}

.deal-title {
    color: #212121;
    font-size: 3.875em;
    font-weight: 100;
    line-height: 1.161;
    text-align: left;
    margin-left: 98px;
}

.deal-text {
    color: #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.714;
    text-align: left;
    margin-left: 98px;
    width: 458px;
}

/*EX_BIG*/

.exclusive-threebig {
    float: left;
    background-image: url(../img/item/product-1-lg.jpg);
    width: 570px;
    height: 570px;
    margin-right: 30px;
    margin-left: 98px;
    margin-bottom: 120px;
}

.exclusive-item {
    float: left;
    margin: 0 30px 25px 0;
}

/*MOBILE_APP*/

.mobile-app {
    background-image: url(../img/back-img.jpg);
    height: 516px;
}

.ma {
    color: #6c6c6c;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.667;
    text-align: left;
    margin-left: 99px;
    padding-top: 125px;
    margin-bottom: 12px;
}

.fff {
    color: #212121;
    font-size: 3.125em;
    font-weight: 100;
    line-height: 1.161;
    text-align: left;
    margin-left: 106px;
    margin-bottom: 26px;
    width: 420px;
    text-transform: uppercase;
}

.mobile-text {
    width: 413px;
    color: #6c6c6c;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.091;
    text-align: left;
    margin-bottom: 23px;
    margin-left: 99px;
}

.fff-next {
    display: none;
}

.appstore,
.gglplay {
    display: inline-block;

}

.appstore {
    margin-left: 98px;
    margin-right: 10px;
}

/*FOOTER*/

.main-footer {
    background: #f7f7f7;
}

.footer {
    margin-left: 99px;

}

.footer div:not(.social-icon) {
    vertical-align: top;
    margin-top: 120px;
}

.contact {
    display: inline-block;
    width: 223px;
    margin-right: 80px;
}

.contact p,
.suscribe p {
    color: #212121;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.571;
    text-align: left;
    margin-bottom: 20px;
}

.phone-email a {
    text-decoration: none;
}

.information,
.location {
    display: inline-block;
}

.information {
    width: 392px;
}

.information ul {
    list-style-type: none;

}

.information li a {
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.857;
    text-align: left;
    text-transform: uppercase;
}

.slterms {
    float: left;
}

.careers {
    float: right;
}

.suscribe {
    float: right;
    width: 375px;
    margin-right: 105px;
}

.footer-title {
    color: #6c6c6c;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.333;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

/*FORM*/

.send-email {
    width: 351px;
    position: relative;
}

input[type="text"] {
    height: 48px;
    padding-left: 19px;
    width: 100%;
    color: #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.571;
    text-align: left;
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
}

input[type="submit"] {
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
    /*border-width: 1px;
    border-color:#d9dee1;
    border-style: solid;*/
    border: none;
    background-color: #ffffff;
    width: 46px;
    height: 46px;
}

/*copyright*/

.copyright {
    color: #6c6c6c;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 2.167;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 158px;
}

.privacy {
    color: #6c6c6c;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 2.167;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}

/*SOCIAL_ICON*/

.footer-low {
    margin-right: 101px;
    margin-bottom: 38px;
}

.social-icon {
    display: inline-block;
    margin-right: 172px;
}

.social {
    width: 28px;
    height: 28px;
    background: url(../img/social-links.png);
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.social:last-child {
    padding-right: 0;
}

.social:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.icon-fb {
    background-position: 0px 0px;
}

.icon-tw {
    background-position: -34px 0px;
}

.icon-ggl {
    background-position: -67px 0px;
}

.icon-pinterest {
    background-position: -101px 0px;
}

footer::after {
    display: table;
    clear: both;
    content: "";
}

/*page-contact*/

#header-page
/*.header-top*/

    {
    position: relative;
}

.contact-title {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    display: inline-block;
    margin-left: 101px;
    margin-top: 165px;
}

.map-location {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.map-location:first-child {
    margin-left: 98px;

}

.map-location:last-child {
    margin-right: 0;
}

.loc {
    display: block;
    text-align: center;
    margin-top: 48px;
}

.icon-location {
    font-family: 'icomoon';
    color: #212121;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-smtitle {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;

}

.contact-content,
.loc a {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin-bottom: 15px;
}

.location {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.082px;
    text-align: center;
    -webkit-transform: scaleX(1.0041);
    transform: scaleX(1.0041);
}

.area {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    -webkit-transform: scaleX(1.0041);
    transform: scaleX(1.0041);
    margin-bottom: 23px;
}

.loc a {
    text-decoration: none;
    display: block;
}

.loc i {
    margin-bottom: 15px;
}

.map-location {
    margin-bottom: 122px;
}


/*OVERLAY*/

.list-item {
    position: relative;
}

.list-item > img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
}

.content-overlay {
    position: absolute;
    top: 20%;
    left: 11.9%;
    right: 11.9%;
}

.content-overlay h5 {
    font-family: Montserrat;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    margin-bottom: 10px;
}

.content-overlay p {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
}

.content-overlay a {
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-left: 40%;
    margin-bottom: 10px;
}

.overlay {
    opacity: 0
}

.list-item:hover img {
    opacity: .5
}

.list-item:hover .overlay {
    opacity: 1
}

.btn-overlay:hover {
    background: #ffffff url(../img/arrow.png) no-repeat 20px 18px;
}


/*BREADCRUMBS*/

.page-nav li {
    display: inline-block;
    /*margin-right: 43px;*/
    margin-bottom: 50px;

}

.prs li:first-child {
    margin-left: 101px;
}

.page-nav ul {
    list-style-type: none;
}

.page-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.prs li a {
    border-bottom: 1px solid #6c6c6c;
    padding: 10px 43px 20px 10px;
}

.prs li a:hover {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 18px;
    border-bottom: 3px solid black;

}

/*PRODUCTS_PAGE*/

.products-item {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products-item:last-child {
    margin-right: 0;
}

.allproducts-item {
    margin-left: 98px;
    margin-bottom: 50px;
}

.hidden-prsitem {
    display: none;
}

.icon-loop2 {
    font-family: 'icomoon';
    color: #212121;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 140px;
}

.icon-loop2:hover {
    cursor: pointer;
}

.icon-loop2:active {
    transform: rotate(90deg);
}

/*PAGE_DETAILS*/

.prsdetails {
    background-color: #f4f4f4;
    margin-bottom: 72px;
    border-bottom: 0px solid black;
    padding-top: 10px;
    display: block;
    text-align: center;

}

.prsdetails li a {
    margin-right: 15px;
    color: #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0006);
}

.prsdetails li a:hover {
    color: #212121;
    font-size: 17.99px;
    font-weight: 700;
    text-align: left;

}

.content-details h2 {
    color: #212121;
    font-size: 35.98px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0005);
}

.content-details span {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
    display: block;
}

.details-info {
    font-family: 'Gotham';
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0005);
}

.price-details {
    margin-bottom: 49px;
}

.currency {
    font-family: 'Gotham';
    color: #212121;
    font-size: 72px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
}

.details-info p {
    margin-bottom: 10px;
    padding-right: 10px;
}

.details-btn {
    background-color: #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    display: block;
    color: #ffffff;
    font-size: 21.99px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 74px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0005);
    border-radius: 45px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 49px;
}

.details-btn:hover {
    background: #f44336 url(../img/arrow_white.png) no-repeat 350px 26px;
}

.content-details {
    float: right;
    width: 499px;
}

.slider-details {
    float: left;
    width: 570px;
    position: relative;
}

/*SLIDER_DETAILS*/

.slider-details input[name='slider-switch'] {
    display: none;
}

.slider-details label {
    padding-top: 100%;
    margin: 10px 0 10px 20px;
    float: left;
    cursor: pointer;
    opacity: 0.5;
}

.slider-details label img {
    display: block;
}

.slider-details input[name='slider-switch']:checked + label {
    opacity: 1;
}

.slider-details input[name='slider-switch'] ~ img {
    opacity: 0;
}

.slider-details input[name='slider-switch']:checked + label + img {
    opacity: 1;
}

.slider-details > img {
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/*END SLIDER_DETAILS*/

.item-details {
    margin-bottom: 245px;
    margin-left: 98px;
    margin-right: 130px;
}

.related-item {
    margin-left: 98px;
    margin-bottom: 120px;
}

.related-item .products-item {
    margin-bottom: 0;
}
